/* Header */
header.br-header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem !important;
}

.container-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.img-logo {
    width: 5.5rem;
}

.ufsj-logo.img-logo {
    width: 7.2rem;
}

.br-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.dropdown-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    color: var(--red) !important;
    background: none !important;
}

.dropdown-button:hover {
    color: var(--black) !important;
}

.dropdown-button i,
.dropdown-button .br-item {
    color: inherit !important;
    background: none !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem !important;
    background-color: var(--background-grey);
}

.dropdown-content .br-item {
    color: var(--black) !important;
    background: none !important;
    cursor: pointer;
}

.dropdown-content .br-item:hover {
    color: var(--red) !important;
}

.dropdown-content.show {
    display: flex;
}

/* Main */
main {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 13rem 2rem 1.2rem 2rem !important;
}

/* Footer */
.br-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
    border: none !important;
}

.logo {
    display: flex;
    align-items: start;
}

.container-lg-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.proen-footer-logo {
    width: 5.5rem;
}

.ufsj-footer-logo {
    width: 7.2rem;
}

.instituition-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.social-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}